<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Computer & IT Internships</title>
        
        <link rel="stylesheet" href="computerItInternships.css">
    </head>

    <body>
        <div data-layer="a44a3639-0da7-4390-ba27-51912eb67725" class="computerItInternships">        <div data-layer="02a95f42-1344-4bda-8940-5e2a8c0d0ea0" class="component55"></div>
        <svg data-layer="cad44abe-a0cb-47c0-b435-4072475fce47" preserveAspectRatio="none" viewBox="-0.5 0 1 916" class="line9"><path d="M 0 0 L 0 916"  /></svg>
        <svg data-layer="e0b3a6ab-a997-49b6-8897-6f1c3e2964cb" preserveAspectRatio="none" viewBox="-0.00048828125 -0.5 1920.0009765625 3" class="line10"><path d="M 0 2 L 1920 0"  /></svg>
        <div data-layer="f2c3d479-ad08-435c-9a01-6baab7a168ff" class="flatDesignCmsConceptIllustrated232148796510"></div>
        <div data-layer="8b41f1d7-a3c9-4c21-9f00-b7703f21bec1" class="computerMonitorGraphicAnimatorCreatingVideoGameModelingMotionProcessingVideoFileUsingProfessionalEditorVectorIllustrationGraphicDesignArtDesignerWorkplaceConc"></div>
        <div data-layer="07b89208-ae03-49b1-87b1-2054aaee4f2b" class="careerFieldSkillsYoullLearnDuringAComputerScienceItInternshipsoftwareDevelopmentprojectManagementdataModellingtestingAndQaworkingWithLargeDataSets">Career Field Skills You’ll Learn During A Computer Science & IT Internship:<br /><br />Software Development<br />Project Management<br />Data Modelling<br />Testing and QA<br />Working With Large Data Sets</div>
        <div data-layer="152e3134-e66a-446f-8312-1d8be1d16398" class="exampleProjectshelpReviewAppAndDevelopSuggestionsToImproveBothDesignAndLayoutOfProductserviceImprovingApplicationPerformancehelpMaintainCodeQualityOrganizationAndAutomationsoftwareImprovementIncludingAndroidAppDeve">Example Projects:<br /><br />Help review app and develop suggestions to improve – both design and layout of product/service (improving application performance)<br />Help maintain code quality, organization, and automation<br />Software improvement – including Android app developing. Mainly based on Python, C++ language</div>
</div>


    
    </body>
    </html>
            