<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Engineering Internships</title>
        
        <link rel="stylesheet" href="engineeringInternships.css">
    </head>

    <body>
        <div data-layer="7897a9b1-3796-4cb2-9c11-8b106b330c15" class="engineeringInternships">        <div data-layer="d9b886d0-31cf-41d4-acde-99443f6686f9" class="component56"></div>
        <svg data-layer="cc891c38-faf5-42cc-acbc-ef0ab6f08721" preserveAspectRatio="none" viewBox="-0.5 0 1 916" class="line9"><path d="M 0 0 L 0 916"  /></svg>
        <svg data-layer="a8d13df8-12c0-4658-b50d-8c108bcaeb47" preserveAspectRatio="none" viewBox="-0.00048828125 -0.5 1920.0009765625 3" class="line10"><path d="M 0 2 L 1920 0"  /></svg>
        <div data-layer="c627aaf8-771a-4eec-bf6f-fd997a2b54d4" class="femaleEngineerStandingNearChalkboardExplainingProjectDraftBuildingWorkerFlatVectorIllustrationConstructionArchitecture748558362"></div>
        <div data-layer="e0968cf1-89b2-42df-8262-14722c75f807" class="peopleAnalyzingGrowthCharts232148866843"></div>
        <div data-layer="ba6bb054-ad27-4a29-903f-a0853f2a5c8c" class="careerFieldSkillsYoullLearnDuringAnEngineeringInternshipcadModellingtestingAndQaeditTechnicalReportsfeasibilityStudyAndEvaluationprototyping">Career Field Skills You’ll Learn During An Engineering Internship<br /><br />CAD & Modelling<br />Testing and QA<br />Edit Technical Reports<br />Feasibility Study and Evaluation<br />Prototyping</div>
        <div data-layer="6c93a625-5306-4255-8ef0-f0a8b7cc8298" class="exampleProjectsbuildPrototypesOr3DModelsOnComputerSoftwareconductStressAnalysisInComputerSoftwareStructuralEngineeringuseDifferentCodingLanguagesToAssistWithProceduralModelinganalysisplanningEtccreatingSchematicsForNew">Example Projects<br /><br />Build prototypes or 3-D models on computer software<br />Conduct stress analysis in computer software (structural engineering)<br />Use different coding languages to assist with procedural modeling/analysis/planning etc.<br />Creating schematics for new product lines with CAD, etc.</div>
</div>


    
    </body>
    </html>
            